In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
frame = pd.DataFrame(np.random.randn(16).reshape(4,4),index=[['white','white',
                                                            'red','red'],
                    ['up','down','up','down']],columns=[['pen','pen',
                                                        'paper','paper'],
                                                       [1,2,1,2]])

In [4]:
frame

                 pen               paper
                   1         2         1         2
white up   -2.200698  2.030580 -1.492850 -0.877251
      down  0.160335  1.292963 -1.084644 -0.180679
red   up   -0.015133  0.883259  0.607446  0.482257
      down  1.273693 -0.626031  2.119250 -1.163416

In [5]:
frame.index

MultiIndex(levels=[[u'red', u'white'], [u'down', u'up']],
           labels=[[1, 1, 0, 0], [1, 0, 1, 0]])

In [6]:
frame.values

array([[-2.20069803,  2.03058042, -1.49285002, -0.87725103],
       [ 0.16033485,  1.29296253, -1.08464387, -0.18067872],
       [-0.01513318,  0.88325901,  0.60744573,  0.48225661],
       [ 1.27369309, -0.6260308 ,  2.11925007, -1.16341555]])

In [9]:
frame['pen']

                   1         2
white up   -2.200698  2.030580
      down  0.160335  1.292963
red   up   -0.015133  0.883259
      down  1.273693 -0.626031

In [12]:
frame['pen',1]

white  up     -2.200698
       down    0.160335
red    up     -0.015133
       down    1.273693
Name: (pen, 1), dtype: float64

In [15]:
frame['pen',1].values

array([-2.20069803,  0.16033485, -0.01513318,  1.27369309])

In [16]:
frame['pen',1].values.sum()

-0.78180326889633323

In [19]:
frame['paper']

                   1         2
white up   -1.492850 -0.877251
      down -1.084644 -0.180679
red   up    0.607446  0.482257
      down  2.119250 -1.163416

In [20]:
frame['paper',1]

white  up     -1.492850
       down   -1.084644
red    up      0.607446
       down    2.119250
Name: (paper, 1), dtype: float64

In [22]:
frame['paper',1].white

up     -1.492850
down   -1.084644
Name: (paper, 1), dtype: float64

In [23]:
frame['paper',1].white.up

-1.4928500245378873

In [24]:
frame['paper']

                   1         2
white up   -1.492850 -0.877251
      down -1.084644 -0.180679
red   up    0.607446  0.482257
      down  2.119250 -1.163416

In [25]:
paper_white_up = frame['paper',1].white.up + frame['paper',2].white.up

In [26]:
print paper_white_up

-2.37010105757