# python crash course for data science application inspired from the book - Data Science from stratch  Note created by - Dipayan Dutta

A counter is a contianer that keeps track of how many times equivalent values are added . source  of this defination https://pymotw.com/2/collections/counter.html

In [1]:
import collections

print collections.Counter(['a','b','a','c','d','b']) #occuerence of a b twice

Counter({'a': 2, 'b': 2, 'c': 1, 'd': 1})

In [6]:
string = 'Hello World'
count = collections.Counter(string)
print count 
white_space_counter=0
for letters in string:
    if letters == ' ':
        white_space_counter +=1
    print letters ,"==>",count[letters]
print "Total White Spaces {}".format(white_space_counter)

Counter({'l': 3, 'o': 2, ' ': 1, 'e': 1, 'd': 1, 'H': 1, 'r': 1, 'W': 1})
H ==> 1
e ==> 1
l ==> 3
l ==> 3
o ==> 2
  ==> 1
W ==> 1
o ==> 2
r ==> 1
l ==> 3
d ==> 1
Total White Spaces 1

In [16]:
cnt = collections.Counter()
for words in ['red','blue','green','white','orange','blue','red']:
    cnt[words] += 1
print cnt

Counter({'blue': 2, 'red': 2, 'orange': 1, 'white': 1, 'green': 1})

In [17]:
c = collections.Counter(a=3,b=1)
d = collections.Counter(a=4,b=2)
print c+d

Counter({'a': 7, 'b': 3})

defaultdict works exactly like a normal dict , but it initialized with a function that takes no arguments and provides the default value for a non-existent key , A defaultdict will never raise a KeyError.

In [15]:
from collections import defaultdict
ice_cream = defaultdict(lambda: 'vanila')
#print ice_cream 
ice_cream ['common'] = 'vanila'
ice_cream ['mychoice'] = 'choclate'
ice_cream ['popular'] = 'choclate'
count = collections.Counter(ice_cream)
#print ice_cream
print count
print ice_cream.values()
print ice_cream.keys()

for items in ice_cream.iteritems():
    print items

Counter({'common': 'vanila', 'popular': 'choclate', 'mychoice': 'choclate'})
['choclate', 'choclate', 'vanila']
['popular', 'mychoice', 'common']
('popular', 'choclate')
('mychoice', 'choclate')
('common', 'vanila')

In [19]:
counter = defaultdict(int)
colors = ['red','green','blue','blue','white','red']
for color in colors:
    counter[color] +=1
print counter
collection_counter = collections.Counter(colors)
print "result using method calling {}".format(counter)

defaultdict(<type 'int'>, {'blue': 2, 'white': 1, 'green': 1, 'red': 2})
result using method calling defaultdict(<type 'int'>, {'blue': 2, 'white': 1, 'green': 1, 'red': 2})

A python set contains all unique elements and all the items must be immutable , The collection can be unordered .

In [22]:
programming_languages = set()
programming_languages.add("python")
programming_languages.add("Shell Scripting")
programming_languages.add('C++')
print programming_languages

set(['python', 'C++', 'Shell Scripting'])

In [25]:
prg_languages = programming_languages.copy()
prg_languages.add("javascript")
prg_languages.add("java")
print prg_languages

set(['python', 'javascript', 'java', 'Shell Scripting', 'C++'])

In [26]:
prg_languages.difference(programming_languages)

{'java', 'javascript'}

The difference_update() method removes all the elements of another set from the set

In [27]:
prg_languages.difference_update(programming_languages)

In [28]:
print programming_languages

set(['python', 'C++', 'Shell Scripting'])

In [29]:
print prg_languages

set(['java', 'javascript'])

In [30]:
prg_languages.intersection(programming_languages)

set()

In [31]:
prg_languages.union(programming_languages)

{'C++', 'Shell Scripting', 'java', 'javascript', 'python'}

In [32]:
prg_languages.issuperset(programming_languages)

False

python has an all function , which takes a list and returns true only when every element is true , and another function called any will return true if any item if true

In [34]:
all([1,2,'chachacha'])

True

In [35]:
all([[],12,2])

False

In [37]:
any([[],1,2])

True

# Important Note

It's common to use an underscore for a value you're going to throw away

In [40]:
_,y = [1,2]
print y
print _#i can use it or i can throw the values

2
1

# python dictonary example

dictonary is collection of key , value pair

In [41]:
dict_example = {'Name':'Dipayan','Occupation':'python programmer','Age':26}

In [42]:
print dict_example

{'Age': 26, 'Name': 'Dipayan', 'Occupation': 'python programmer'}

To print only the keys

In [43]:
print dict_example.keys()

['Age', 'Name', 'Occupation']

To print only the values

In [44]:
print dict_example.values()

[26, 'Dipayan', 'python programmer']

To iterate keys

In [46]:
for keys in  dict_example.iterkeys():
    print keys

Age
Name
Occupation

To iterate Values

In [47]:
for values in dict_example.itervalues():
    print values

26
Dipayan
python programmer

Here is an example of a dictonary which contians another dictonary in its value

In [49]:
fruits = {'Apple':{'China':100,'United States':90,'Turkey':50,'Poland':40},
          'Grape':{'United States':100,'China':80,'South Africa':60,'Mexico':45},
          'Orange':{'Brazil':100,'United States':70,'China':43,'India':32},
          'Lychee':{'China':100,'Taiwan':68,'Thailand':45,'India':20}
         }

In [50]:
print fruits

{'Orange': {'Brazil': 100, 'United States': 70, 'China': 43, 'India': 32}, 'Lychee': {'Thailand': 45, 'Taiwan': 68, 'China': 100, 'India': 20}, 'Grape': {'United States': 100, 'Mexico': 45, 'China': 80, 'South Africa': 60}, 'Apple': {'United States': 90, 'Turkey': 50, 'Poland': 40, 'China': 100}}

In [51]:
print fruits.keys()

['Orange', 'Lychee', 'Grape', 'Apple']

In [52]:
print fruits.values()

[{'Brazil': 100, 'United States': 70, 'China': 43, 'India': 32}, {'Thailand': 45, 'Taiwan': 68, 'China': 100, 'India': 20}, {'United States': 100, 'Mexico': 45, 'China': 80, 'South Africa': 60}, {'United States': 90, 'Turkey': 50, 'Poland': 40, 'China': 100}]

In [53]:
fruits['Apple']

{'China': 100, 'Poland': 40, 'Turkey': 50, 'United States': 90}

In [56]:
for country in fruits['Apple']:
    print country

United States
Turkey
Poland
China

In [58]:
for tons in fruits['Apple'].itervalues():
    print tons

90
50
40
100

In [59]:
total = []
for tons in fruits['Apple'].itervalues():
    total.append(tons)
print total

[90, 50, 40, 100]

In [60]:
total_apples = 0
for apples in total:
    total_apples += apples
print total_apples

280

In [61]:
tweets = {'user':'Dipayan',
          'text':'Python is awsome',
          'counts': 100,
          'hashtags': ['#python','#datastructure','#datascience','#Machine Learning']
         }

In [62]:
print tweets

{'text': 'Python is awsome', 'counts': 100, 'hashtags': ['#python', '#datastructure', '#datascience', '#Machine Learning'], 'user': 'Dipayan'}

In [63]:
print tweets.keys()

['text', 'counts', 'hashtags', 'user']

In [64]:
print tweets.values()

['Python is awsome', 100, ['#python', '#datastructure', '#datascience', '#Machine Learning'], 'Dipayan']

In [65]:
print tweets['hashtags']

['#python', '#datastructure', '#datascience', '#Machine Learning']

In [69]:
for hashtag in tweets['hashtags']:
    print hashtag.replace("#","") #Removeing #'pound' sign from the hastags

python
datastructure
datascience
Machine Learning

# List Slicing Examples

In [70]:
numberList = [10,20,30,40,50,60]

Print the Total list i.e. all items of the list

In [71]:
print numberList

[10, 20, 30, 40, 50, 60]

In [72]:
print numberList[:]

[10, 20, 30, 40, 50, 60]

To ommit the first item from the list

In [74]:
print numberList[1:]

[20, 30, 40, 50, 60]

Print First Three Items of the List

In [75]:
print numberList[0:3]

[10, 20, 30]

In [76]:
print len(numberList)

6

To print last Three items of the list

In [77]:
print numberList[3:(len(numberList))]

[40, 50, 60]

Print the last element of list

In [79]:
print numberList[-1]

60

Print Last Two Elements of the list

In [81]:
print numberList[-2:]

[50, 60]

In [82]:
numberList.sort()

In [83]:
sorted(numberList)

[10, 20, 30, 40, 50, 60]

Searching most common words in the word list Here animal_list

In [9]:
animal_list = ['Tiger','Elephant','cat','cat','Dog','Lion','Cheeta','Dog','Cow','Tiger',
               'goat','Dog','Elephant','Lion','zebra','Dog','Tiger','Cheeta','Dog','Cow',
               'goat','cow','Tiger']

In [16]:
animal_count = (animals for animals in animal_list)
from collections import Counter
animal_count = Counter(animal_count)
print animal_count
print "Top 3 most common animals are"
most_commobn_animal = animal_count.most_common(3)
print most_commobn_animal
for animal,number in most_commobn_animal:
    animal,occurence = animal,number
    print animal ,"==>",occurence

Counter({'Dog': 5, 'Tiger': 4, 'Cow': 2, 'cat': 2, 'Lion': 2, 'Cheeta': 2, 'Elephant': 2, 'goat': 2, 'cow': 1, 'zebra': 1})
Top 3 most common animals are
[('Dog', 5), ('Tiger', 4), ('Cow', 2)]
Dog ==> 5
Tiger ==> 4
Cow ==> 2

# Deque Examples

Deque or Double Endeded queue , supports insertion and deletion of items from both ends

In [84]:
import collections
d = collections.deque('abcdef')
print d
print "Length {}".format(len(d))

deque(['a', 'b', 'c', 'd', 'e', 'f'])
Length 6

In [85]:
print d[0]

a

In [87]:
print d[len(d)-1]

f

In [88]:
d.append('g')

In [89]:
print d

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [90]:
d.appendleft(1)

In [91]:
print d

deque([1, 'a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [92]:
print d.pop()

g

In [93]:
print d

deque([1, 'a', 'b', 'c', 'd', 'e', 'f'])

In [94]:
print d.popleft()

1

In [95]:
print d

deque(['a', 'b', 'c', 'd', 'e', 'f'])

In [97]:
d.extend(['g','h'])

In [98]:
print d

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [99]:
print d.extendleft([0,1])

None

In [100]:
print d

deque([1, 0, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [102]:
type (d)

collections.deque

Convert dqueue to list

In [103]:
dqueue_to_list = list(d)

In [104]:
type(dqueue_to_list)

list

# List Comprehensions

In [105]:
even_numbers = [x for x in range(10) if x%2==0]

In [106]:
print even_numbers

[0, 2, 4, 6, 8]

In [107]:
numbers = [0 for _ in even_numbers]

In [108]:
print numbers

[0, 0, 0, 0, 0]

In [111]:
square_dict = {x:x*x for x in range(10) if x %2 ==0}

In [112]:
print square_dict

{0: 0, 8: 64, 2: 4, 4: 16, 6: 36}

In [115]:
square_dict.keys()

[0, 8, 2, 4, 6]

In [116]:
square_dict.values()

[0, 64, 4, 16, 36]

In [113]:
square_set = {x*x for x in range(10) if x%2 == 0}

In [114]:
print square_set

set([0, 16, 4, 64, 36])

In [117]:
pair = [(x,y) for x in range(10) for y in range(10)]

In [118]:
print pair

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [119]:
even_only_pair = [(x,y) for x in range(10) if x%2 ==0 for y in range(10) if y%2 == 0]

In [120]:
print even_only_pair

[(0, 0), (0, 2), (0, 4), (0, 6), (0, 8), (2, 0), (2, 2), (2, 4), (2, 6), (2, 8), (4, 0), (4, 2), (4, 4), (4, 6), (4, 8), (6, 0), (6, 2), (6, 4), (6, 6), (6, 8), (8, 0), (8, 2), (8, 4), (8, 6), (8, 8)]

In [121]:
print len(pair)

100

In [122]:
print len(even_only_pair)

25

# using Random numbers with import random

In [127]:
import random
number = random.random()

In [128]:
print number

0.928074657588

In [144]:
number = random.randrange(2,100,10)

In [145]:
print number

42

In [138]:
random_numbers = [random.random() for _ in range(5)]

In [139]:
print random_numbers

[0.186962027789225, 0.045192390015259876, 0.16290683019267926, 0.48653459048181347, 0.8961100075998293]

In [142]:
cities = ["kolkata","baruipur","sonarpur",'jadavpur']

In [143]:
print "Random City chosen by python {}".format(random.choice(cities))

Random City chosen by python jadavpur

To chose a integer random number

In [148]:
print random.randint(5,10)

8

To shuffle random numbers

In [163]:
from random import shuffle

In [168]:
mylist = [x for x in range(10)]

In [175]:
random.shuffle(mylist)

In [176]:
print mylist

[1, 7, 3, 0, 9, 4, 6, 2, 8, 5]

In [177]:
random.sample(mylist,len(mylist))

[0, 7, 6, 2, 4, 3, 9, 5, 8, 1]

In [178]:
random.sample(mylist,3) #chose only 3 elements from the mylist

[2, 8, 1]

# joining two lists

In [179]:
list1 = [1,2,3]

In [180]:
list2 = [4,5,6]

In [181]:
list3=zip(list1,list2)

In [182]:
print list3

[(1, 4), (2, 5), (3, 6)]

In [183]:
zip(*list3)

[(1, 2, 3), (4, 5, 6)]