# Pandas Note

Two datasstructure of the pandas library are 
1) Series
2) DataFrames

Series = contents a sequence of one dimenssional data 

DataFrames = a more complex datastructure , is designed to contain cases with serveral data structure .

In [1]:
import pandas as pd 
import numpy as np

In [2]:
ser = pd.Series([1,2,3])

In [3]:
print ser

0    1
1    2
2    3
dtype: int64

The above output shows me the pandas series and the left side column shows me the indexes .

In [4]:
ser = pd.Series([10,4,-5,6,7],index=[1,2,3,4,5])

In [5]:
print ser

1    10
2     4
3    -5
4     6
5     7
dtype: int64

Here in the above output i changed the default index which starts from 0 , Now if i want to change the index let , the indexes should be order of string then

In [6]:
ser = pd.Series([10,4,-5,7,8],index=['a','b','c','d','e'])

In [7]:
print ser

a    10
b     4
c    -5
d     7
e     8
dtype: int64

This ser variable contains the values and also the index , so to get only the values and only the indexes . use values and index they will return the correspondings with an array .

In [8]:
print ser.values

[10  4 -5  7  8]

In [9]:
print ser.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

Create pandas Series using numpy array

In [10]:
ser = pd.Series(np.arange(5),index=['a','b','c','d','e'])

In [11]:
print ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

To filter values , i.e. let say i want the values which are greater than and equal to 3

In [12]:
print ser[ser>=3]

d    3
e    4
dtype: int64

To get only those indexes whose values are greater than or equal to 3

In [13]:
print ser[ser>=3].index

Index([u'd', u'e'], dtype='object')

Pandas Series also supports the Arithmatic operations

In [14]:
print ser+2

a    2
b    3
c    4
d    5
e    6
dtype: int64

In [15]:
print ser-2

a   -2
b   -1
c    0
d    1
e    2
dtype: int64

In [16]:
print ser/3

a    0.000000
b    0.333333
c    0.666667
d    1.000000
e    1.333333
dtype: float64

In [17]:
print ser*4

a     0
b     4
c     8
d    12
e    16
dtype: int64

In [18]:
print ser**2

a     0
b     1
c     4
d     9
e    16
dtype: int64

I can also make numpy operations on series

In [19]:
print np.log(ser)

a        -inf
b    0.000000
c    0.693147
d    1.098612
e    1.386294
dtype: float64

In [20]:
print np.sum(ser)

10

In [21]:
print np.mean(ser)

2.0

In [22]:
print np.median(ser)

2.0

To get the only the unique values from the Series Datastructure , pandas provide us a method called unique() which operates on the Series on which i am looking get only the unique entries . the unique() method returns an array of unique elements from the Series DataStructure.

In [24]:
ser = pd.Series([1,0,2,1,2,3],index=['white','red','red','orange','black','blue'])

In [25]:
print ser

white     1
red       0
red       2
orange    1
black     2
blue      3
dtype: int64

In [26]:
print ser.unique()

[1 0 2 3]

isin() is function that evaluates the membership , that is , give a list of values , this function lets you know if these values are contained within the data structure or not , it returns result in boolean format .

In [27]:
print ser.isin([0,3]) #looking is 0 and 3 present in my series

white     False
red        True
red       False
orange    False
black     False
blue       True
dtype: bool

The above o/p shows the True and False version , so what if i want to get the indexes and values for which the values i am searching for .

In [28]:
print ser[ser.isin([0,3])]

red     0
blue    3
dtype: int64

NaN = Not a Number is used withing pandas data structure to indicate the presence of an empty field or not definable numerically.

In [29]:
ser = pd.Series([5,-3,np.NaN,23])

In [30]:
print ser

0     5
1    -3
2   NaN
3    23
dtype: float64

Now , if i want to check in the series that , if any field in the series is null or not .

In [31]:
print ser.isnull()

0    False
1    False
2     True
3    False
dtype: bool

And if i want to check which fields are not null in the series

In [32]:
print ser.notnull()

0     True
1     True
2    False
3     True
dtype: bool

I want to print only those fields which are not null

In [33]:
print ser[ser.notnull()]

0     5
1    -3
3    23
dtype: float64

Print only those fields which are null

In [34]:
print ser[ser.isnull()]

2   NaN
dtype: float64

Creating Series with the help of python Dictonary

In [35]:
fruits = {'apple':{'china':10,'India':20},'Banna':{'Africa':100,'Asia':20}}

In [36]:
print fruits

{'Banna': {'Africa': 100, 'Asia': 20}, 'apple': {'India': 20, 'china': 10}}

In [37]:
print fruits.keys()

['Banna', 'apple']

In [38]:
print fruits.values()

[{'Africa': 100, 'Asia': 20}, {'India': 20, 'china': 10}]

In [39]:
print fruits['apple']

{'India': 20, 'china': 10}

In [41]:
print fruits['apple'].values()

[20, 10]

In [42]:
print fruits['apple'].keys()

['India', 'china']

In [43]:
fruitSeries = pd.Series(fruits)

In [44]:
print fruitSeries

Banna    {u'Africa': 100, u'Asia': 20}
apple     {u'India': 20, u'china': 10}
dtype: object

In [45]:
print fruitSeries.values

[{'Africa': 100, 'Asia': 20} {'India': 20, 'china': 10}]

In [46]:
print fruitSeries.index

Index([u'Banna', u'apple'], dtype='object')

In [47]:
print fruitSeries['apple']

{'India': 20, 'china': 10}

In [51]:
print fruitSeries['apple'].values()

[20, 10]

In [53]:
print fruitSeries['apple'].keys()

['India', 'china']

In [54]:
for apple in fruitSeries['apple'].values():
    print apple

20
10

In [55]:
total_apple = 0
for apple in fruitSeries['apple'].values():
    total_apple += apple
print total_apple

30

In [56]:
print fruitSeries.index

Index([u'Banna', u'apple'], dtype='object')

In [57]:
total_Banna = 0
for banna in fruitSeries['Banna'].values():
    total_Banna += banna
print total_Banna

120

In [58]:
print fruitSeries.index

Index([u'Banna', u'apple'], dtype='object')

In [59]:
print fruitSeries['apple']

{'India': 20, 'china': 10}

In [60]:
print fruitSeries['apple'].keys()

['India', 'china']

In [61]:
country_counter = 0
for counties in fruitSeries['apple'].keys():
    country_counter += 1
    print counties
print country_counter

India
china
2